<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Website Font style -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
  <div class="row main">
  <div [hidden]="submitted">
    <h1 align="center" >Inscription à la liste de distribution</h1>
    <div class="main-login main-center">
    <form (ngSubmit)="onSubmit()" #mailForm="ngForm">

      <div class="form-group">
        <label for="email" class="cols-sm-2 control-label">Courriel</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
        <input type="text" class="form-control" id="email"
               required
               [(ngModel)]="model.email" name="email"
               #email="ngModel"
               placeholder="Courriel">
        </div>
      </div>
      <div [hidden]="email.valid || email.pristine"
           class="alert alert-danger">
        Courriel requis
      </div>

      <div class="form-group">
        <label for="name">Nom</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel"
               placeholder="Nom">
        </div>
      </div>
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Nom requis
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block login-button" [disabled]="!mailForm.form.valid">S'inscrire</button>
    </form>
  </div>

  </div>
  <div *ngIf="errors" class="alert alert-danger">
    {{ errors }}
  </div>
  </div>

  <div [hidden]="!submitted">
    <h2>Vous êtes inscrit avec ces informations:</h2>
    <div class="row">
      <div class="col-xs-3">Courriel</div>
      <div class="col-xs-9  pull-left">{{ model.email }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Nom</div>
      <div class="col-xs-9 pull-left">{{ model.name }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="errors=null; submitted=false; mailForm.reset()">Add a new email to the mailing list</button>
  </div>
</div>
</body>
